*.lib filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
nlpir/Data/Xing.pdat filter=lfs diff=lfs merge=lfs -text
nlpir/Data/charset.type filter=lfs diff=lfs merge=lfs -text
nlpir/Data/CoreDict.pos filter=lfs diff=lfs merge=lfs -text
nlpir/Data/UTF2GBK.map filter=lfs diff=lfs merge=lfs -text
nlpir/Data/UTF8.pdat filter=lfs diff=lfs merge=lfs -text
nlpir/Data/Xing2Zi.map filter=lfs diff=lfs merge=lfs -text
nlpir/Data/nr.fsa filter=lfs diff=lfs merge=lfs -text
nlpir/Data/ICTPOS.map filter=lfs diff=lfs merge=lfs -text
nlpir/Data/BiWord.big filter=lfs diff=lfs merge=lfs -text
nlpir/Data/English filter=lfs diff=lfs merge=lfs -text
nlpir/Data/FieldDict.pos filter=lfs diff=lfs merge=lfs -text
nlpir/Data/GBK.pdat filter=lfs diff=lfs merge=lfs -text
nlpir/Data/GBKA2GBK.map filter=lfs diff=lfs merge=lfs -text
nlpir/Data/GranDict.pdat filter=lfs diff=lfs merge=lfs -text
nlpir/Data/Zi.wordlist filter=lfs diff=lfs merge=lfs -text
nlpir/Data/BIG5.pdat filter=lfs diff=lfs merge=lfs -text
nlpir/Data/location.wordlist filter=lfs diff=lfs merge=lfs -text
nlpir/Data/GBK2GBKA.map filter=lfs diff=lfs merge=lfs -text
nlpir/Data/UTF8.txt filter=lfs diff=lfs merge=lfs -text
nlpir/Data/UTF82GBK.map filter=lfs diff=lfs merge=lfs -text
nlpir/Data/Xing.wordlist filter=lfs diff=lfs merge=lfs -text
nlpir/Data/BIG2GBK.map filter=lfs diff=lfs merge=lfs -text
nlpir/Data/CoreDict.unig filter=lfs diff=lfs merge=lfs -text
nlpir/Data/FieldDict.pdat filter=lfs diff=lfs merge=lfs -text
nlpir/Data/GBK2UTF.map filter=lfs diff=lfs merge=lfs -text
nlpir/Data/GBK2UTF8.map filter=lfs diff=lfs merge=lfs -text
nlpir/Data/GBKA.pdat filter=lfs diff=lfs merge=lfs -text
nlpir/Data/GranDict.pos filter=lfs diff=lfs merge=lfs -text
nlpir/Data/KeyBlackList.pdat filter=lfs diff=lfs merge=lfs -text
nlpir/Data/CoreDict.pdat filter=lfs diff=lfs merge=lfs -text
nlpir/Data/UTF2GBKA.map filter=lfs diff=lfs merge=lfs -text
nlpir/Data/sentiment.pdat filter=lfs diff=lfs merge=lfs -text
nlpir/Data/sentiment.ung filter=lfs diff=lfs merge=lfs -text
nlpir/Data/PKU_First.map filter=lfs diff=lfs merge=lfs -text
nlpir/Data/GBKA2UTF.map filter=lfs diff=lfs merge=lfs -text
nlpir/Data/NewWord.lst filter=lfs diff=lfs merge=lfs -text
nlpir/Data/GBK.wordlist filter=lfs diff=lfs merge=lfs -text
nlpir/Data/GBK2BIG.map filter=lfs diff=lfs merge=lfs -text
nlpir/Data/NLPIR.ctx filter=lfs diff=lfs merge=lfs -text
nlpir/Data/PKU.map filter=lfs diff=lfs merge=lfs -text
nlpir/Data/Zi.pdat filter=lfs diff=lfs merge=lfs -text
nlpir/Data/location.pdat filter=lfs diff=lfs merge=lfs -text
nlpir/Data/nr.ctx filter=lfs diff=lfs merge=lfs -text
nlpir/Data/Configure.xml filter=lfs diff=lfs merge=lfs -text
nlpir/Data/NLPIR_First.map filter=lfs diff=lfs merge=lfs -text
nlpir/Data/UTF8.wordlist filter=lfs diff=lfs merge=lfs -text
nlpir/Data/UserDict.pdat filter=lfs diff=lfs merge=lfs -text
nlpir/Data/location.map filter=lfs diff=lfs merge=lfs -text
nlpir/Data/nr.role filter=lfs diff=lfs merge=lfs -text
nlpir/Data/GBKA.wordlist filter=lfs diff=lfs merge=lfs -text
nlpir/Data/English/ne.pdat filter=lfs diff=lfs merge=lfs -text
nlpir/Data/English/ne.pos filter=lfs diff=lfs merge=lfs -text
nlpir/Data/English/English.ung filter=lfs diff=lfs merge=lfs -text
nlpir/Data/English/English.wordlist filter=lfs diff=lfs merge=lfs -text
nlpir/Data/English/Irrel2regular.map filter=lfs diff=lfs merge=lfs -text
nlpir/Data/English/English.pos filter=lfs diff=lfs merge=lfs -text
nlpir/Data/English/English.pdat filter=lfs diff=lfs merge=lfs -text
nlpir/Data/English/ne.wordlist filter=lfs diff=lfs merge=lfs -text
